# This file is part of qsnap <https://github.com/qsuscs/qsnap> and distributed
# under the terms of the ISC license.
[Unit]
Description=qsnap BtrFS snapshot tool

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mksnap.sh "%I"

[Install]
WantedBy=multi-user.target
